@import "./node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  border: 2px solid #000;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0.4rem;
}

.palavra-secreta-ul {
  font-size: 2rem;
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  gap: 0.4rem;

  li {
    border-bottom: 2px solid #000;
    min-width: 30px;
    text-align: center;
  }
}
