/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  main {
    flex-direction: column;
  }

  .keyboard-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
