/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  main {
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
  }

  .hangman-section {
    width: 250px;
  }

  .secret-word-ul {
    li {
      min-width: 30px;
    }
  }
}
