@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  border: 2px solid #000;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .hint-container {
    font-size: 1.2rem;
    gap: 0.6rem;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 0px;
    }
  }
}

.hangman-section {
  width: 300px;
  margin: 1rem;
}

.keyboard-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0.4rem;

  .btn {
    font-size: 1.4rem;
  }
}

.secret-word-ul {
  font-size: 2.6rem;
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  gap: 0.4rem;

  li {
    border-bottom: 2px solid #000;
    min-width: 50px;
    text-align: center;
  }
}
